form{

}
.home{
    padding: 2.5rem;
    
}
.search{
    align-items: center;
}
.home .search{
    display: flex;
    gap: 2rem;
}
input,button{
    height: 3rem;
    border: 1px solid black;
}
input{
    width: 21rem;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 1rem;
}
button{
    width: 4rem;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.countries{
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 1rem;
}
.main{
    padding:1.5rem 6rem;
}
.country{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding:2.5rem 1rem;
    border-radius: 5px;
}
span{
    font-weight: bold;
    margin-right: 0.5rem
}
.count{
    margin-bottom: 1rem;
}
.clear{
    margin-left: 1rem;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 5rem;
}